:host {
  display: block;
}


.infinite {
  background-color : black;
  height: 10px;
  position: absolute;
  animation: ease-in-out ;
  animation-name: run;
  animation-duration: 2s;
}

@keyframes run {
  from {
    width:0%
  }
  to{
   width:50%
  }
}