:host {
  display: block;
}
progress {
	appearance: none;
	display: block;
	width: 30%;
	height: 1rem;
	border: 0;
}

progress::-webkit-progress-bar {
	background: lightgray;
}

progress::-webkit-progress-value {
	background: #06c;
	transition: width 2500ms ease-in-out;
}