:host {
  display: block;
}

.slider {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #808080;
  border-radius: 50%;
  transition-duration: 1s;
  pointer-events: none;
}

.container {
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 30% / 50%;
  position: relative;
  pointer-events: none;
}

.slide {
  transform: translateX(100%);
}

.container input {
  opacity: 0;
  position: absolute;
  pointer-events: all;
}
