:host {
  display: block;
}

.slider {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #808080;
  border-radius: 50%;
  transition-duration: 500ms;
}

.container {
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 30% / 50%;
  position: relative;
}

.slide {
  transform: translateX(100%);
}
